Unidad 01/EJER_CLASE/ACTV_CLASES/EJER_DTD/Ejer_curso.dtd

<!ELEMENT curso (asignatura+)>
<!ELEMENT asignatura ((nombre_asignatura | codigo), alumnos?, profesor?)>
<!ELEMENT nombre_asignatura (#PCDATA)>
<!ELEMENT codigo (#PCDATA)>
<!ELEMENT alumnos (alumno+)>
<!ELEMENT alumno (nombre, apellido)>
<!ELEMENT profesor (nombre, apellido)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
