Unidad 01/U1_T2_DTD/discografia.dtd

<!ELEMENT discografia (discos)>
<!ELEMENT discos (disco+)>
<!ELEMENT disco (titulo, interpretes, num_pista)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT interpretes (interprete+)>
<!ELEMENT interprete (nombre, apellidos, (rol?| funcion?)) >
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT rol (#PCDATA)>
<!ELEMENT funcion (#PCDATA)>
<!ELEMENT num_pista (pista+)>
<!ELEMENT pista (nombre_cancion,duracion)>
<!ELEMENT nombre_cancion (#PCDATA)>
<!ELEMENT duracion (#PCDATA)>